<div class="social-sharing {{ shareCountClass }}" data-permalink="{{ permalinkURL }}">


      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <g id="FacebookLogo">
            <path id="Vector" d="M21.9706 11.9997C21.9657 14.3818 21.0915 16.6802 19.512 18.4633C17.9326 20.2465 15.7565 21.3918 13.3924 21.6841C13.3397 21.6893 13.2864 21.6835 13.236 21.6671C13.1856 21.6507 13.1391 21.6241 13.0995 21.5888C13.0599 21.5536 13.028 21.5106 13.0058 21.4624C12.9836 21.4143 12.9716 21.3621 12.9706 21.3091V14.2497H15.2206C15.3231 14.2499 15.4246 14.2291 15.5188 14.1885C15.613 14.1479 15.6979 14.0884 15.7682 14.0137C15.8385 13.9391 15.8927 13.8507 15.9275 13.7543C15.9623 13.6578 15.977 13.5552 15.9706 13.4528C15.954 13.2589 15.8644 13.0785 15.72 12.948C15.5756 12.8175 15.387 12.7466 15.1924 12.7497H12.9706V10.4997C12.9706 10.1019 13.1286 9.72036 13.4099 9.43906C13.6912 9.15775 14.0727 8.99972 14.4706 8.99972H15.9706C16.0731 8.99992 16.1746 8.97908 16.2688 8.93849C16.363 8.8979 16.4479 8.83843 16.5182 8.76374C16.5885 8.68906 16.6427 8.60075 16.6775 8.50427C16.7123 8.40779 16.727 8.3052 16.7206 8.20284C16.704 8.00891 16.6144 7.82849 16.47 7.69799C16.3256 7.56749 16.137 7.49663 15.9424 7.49972H14.4706C13.6749 7.49972 12.9118 7.81579 12.3492 8.3784C11.7866 8.94101 11.4706 9.70407 11.4706 10.4997V12.7497H9.22055C9.11799 12.7495 9.01647 12.7704 8.92228 12.8109C8.82809 12.8515 8.74323 12.911 8.67294 12.9857C8.60264 13.0604 8.54841 13.1487 8.5136 13.2452C8.47879 13.3416 8.46414 13.4442 8.47055 13.5466C8.48714 13.7405 8.57668 13.9209 8.7211 14.0514C8.86552 14.1819 9.05406 14.2528 9.24868 14.2497H11.4706V21.3091C11.4708 21.3617 11.46 21.4137 11.4389 21.4618C11.4177 21.5099 11.3867 21.5531 11.3478 21.5884C11.3089 21.6238 11.263 21.6506 11.2131 21.6671C11.1632 21.6836 11.1104 21.6894 11.0581 21.6841C6.10805 21.0841 2.28305 16.781 2.47993 11.6341C2.59044 9.09233 3.6901 6.69443 5.54418 4.95225C7.39825 3.21007 9.85987 2.26162 12.4036 2.30933C14.9473 2.35705 17.3716 3.39716 19.1591 5.20766C20.9465 7.01815 21.9554 9.45559 21.9706 11.9997Z" fill="#505050"/>
            </g>
            </svg>
      </a>

  

      <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <g id="TwitterLogo">
            <path id="Vector" d="M23.2548 7.28446L20.4236 10.1063C19.8611 16.6595 14.3298 21.7501 7.72046 21.7501C6.36109 21.7501 5.23609 21.5345 4.38296 21.1126C3.69859 20.7657 3.41734 20.4001 3.34234 20.2876C3.28029 20.1933 3.2403 20.0863 3.22536 19.9744C3.21042 19.8626 3.22092 19.7488 3.25606 19.6416C3.2912 19.5344 3.35009 19.4364 3.42833 19.3551C3.50658 19.2738 3.60216 19.2112 3.70796 19.172C3.72671 19.1626 5.93921 18.3188 7.37359 16.697C6.48403 16.0636 5.70217 15.2912 5.05796 14.4095C3.77359 12.6657 2.41421 9.63759 3.22984 5.11884C3.25548 4.9845 3.31692 4.85958 3.40768 4.75727C3.49844 4.65496 3.61514 4.57906 3.74546 4.53759C3.8762 4.49478 4.0162 4.48875 4.15013 4.52017C4.28406 4.55159 4.40677 4.61923 4.50484 4.71571C4.53296 4.75321 7.65484 7.82821 11.4705 8.82196V8.25009C11.4741 7.65544 11.5949 7.06735 11.8259 6.51938C12.0569 5.97141 12.3935 5.4743 12.8166 5.05643C13.2397 4.63857 13.7409 4.30813 14.2917 4.08398C14.8425 3.85984 15.4321 3.74638 16.0267 3.75009C16.8072 3.76122 17.5714 3.97432 18.2451 4.36863C18.9187 4.76294 19.4787 5.32502 19.8705 6.00009H22.7205C22.8685 5.99962 23.0134 6.043 23.1369 6.12475C23.2603 6.2065 23.3568 6.32296 23.4142 6.45946C23.4682 6.598 23.482 6.749 23.4538 6.895C23.4255 7.04099 23.3566 7.17602 23.2548 7.28446Z" fill="#505050"/>
            </g>
            </svg>
      </a>

  

        <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape }}" class="share-pinterest">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <g id="PinterestLogo">
                <path id="Vector" d="M21.9705 12.2999C21.8112 17.4093 17.6768 21.5718 12.5674 21.7405C11.6654 21.7748 10.763 21.6833 9.88617 21.4687C9.79018 21.4422 9.7082 21.3796 9.65749 21.2939C9.60677 21.2082 9.59129 21.1062 9.61429 21.0093L10.4487 17.6905C11.2084 18.1507 12.0824 18.3879 12.9705 18.3749C16.4393 18.3749 19.2237 15.2343 18.9518 11.4937C18.708 8.12804 15.9518 5.43742 12.5768 5.25929C11.6616 5.21093 10.7462 5.34942 9.88635 5.66632C9.02646 5.98323 8.24011 6.47191 7.57522 7.10259C6.91033 7.73327 6.38083 8.49274 6.01899 9.3347C5.65715 10.1767 5.47054 11.0835 5.47054 11.9999C5.47192 12.8669 5.63733 13.7257 5.95804 14.5312C6.03264 14.7164 6.17776 14.8644 6.36149 14.9427C6.54521 15.0209 6.75249 15.0229 6.93773 14.9484C7.12297 14.8738 7.27099 14.7286 7.34923 14.5449C7.42746 14.3612 7.42951 14.1539 7.35492 13.9687C7.11081 13.3699 6.98046 12.7308 6.97054 12.0843C6.95936 10.6919 7.50175 9.35211 8.4784 8.35963C9.45506 7.36715 10.786 6.8033 12.1784 6.79211C13.5707 6.78092 14.9105 7.32331 15.903 8.29997C16.8955 9.27662 17.4594 10.6075 17.4705 11.9999C17.4705 14.6905 15.4549 16.8749 12.9705 16.8749C11.9862 16.8749 11.3018 16.528 10.833 16.1249L12.2018 10.678C12.2252 10.582 12.2294 10.4823 12.2143 10.3846C12.1992 10.287 12.1649 10.1932 12.1136 10.1088C12.0622 10.0244 11.9947 9.95086 11.9149 9.8925C11.8352 9.83414 11.7447 9.79206 11.6487 9.76867C11.5526 9.74528 11.4529 9.74103 11.3553 9.75617C11.2576 9.77131 11.1639 9.80553 11.0794 9.85689C10.9089 9.96063 10.7865 10.1279 10.7393 10.3218L8.22679 20.3905C8.2132 20.4454 8.1874 20.4964 8.15132 20.5398C8.11525 20.5833 8.06983 20.618 8.01845 20.6414C7.96708 20.6649 7.91107 20.6764 7.85462 20.6752C7.79817 20.6739 7.74272 20.66 7.69242 20.6343C6.15127 19.8251 4.85486 18.618 3.93783 17.1385C3.02079 15.6589 2.51658 13.9608 2.47755 12.2206C2.43852 10.4803 2.86609 8.76135 3.71587 7.24218C4.56564 5.723 5.80663 4.45903 7.30995 3.58151C8.81327 2.704 10.5241 2.24495 12.2648 2.25203C14.0055 2.25912 15.7125 2.73208 17.2086 3.6218C18.7048 4.51153 19.9354 5.78556 20.7728 7.3116C21.6102 8.83765 22.0237 10.56 21.9705 12.2999Z" fill="#505050"/>
                </g>
                </svg>
        </a>
 
  

  

      <a target="_blank" href="//www.instagram.com/share?url={{ permalinkURL }}" class="share-google">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <g id="InstagramLogo">
            <path id="Vector" d="M12.2205 15C13.8773 15 15.2205 13.6569 15.2205 12C15.2205 10.3431 13.8773 9 12.2205 9C10.5636 9 9.22046 10.3431 9.22046 12C9.22046 13.6569 10.5636 15 12.2205 15Z" fill="#505050"/>
            <path id="Vector_2" d="M16.3455 2.625H8.09546C6.70307 2.625 5.36771 3.17812 4.38315 4.16269C3.39858 5.14726 2.84546 6.48261 2.84546 7.875V16.125C2.84546 17.5174 3.39858 18.8527 4.38315 19.8373C5.36771 20.8219 6.70307 21.375 8.09546 21.375H16.3455C17.7378 21.375 19.0732 20.8219 20.0578 19.8373C21.0423 18.8527 21.5955 17.5174 21.5955 16.125V7.875C21.5955 6.48261 21.0423 5.14726 20.0578 4.16269C19.0732 3.17812 17.7378 2.625 16.3455 2.625ZM12.2205 16.5C11.3304 16.5 10.4604 16.2361 9.72039 15.7416C8.98037 15.2471 8.4036 14.5443 8.063 13.7221C7.72241 12.8998 7.63329 11.995 7.80693 11.1221C7.98056 10.2492 8.40914 9.44736 9.03848 8.81802C9.66781 8.18868 10.4696 7.7601 11.3426 7.58647C12.2155 7.41283 13.1203 7.50195 13.9425 7.84254C14.7648 8.18314 15.4676 8.75991 15.9621 9.49993C16.4565 10.24 16.7205 11.11 16.7205 12C16.7205 13.1935 16.2464 14.3381 15.4024 15.182C14.5585 16.0259 13.4139 16.5 12.2205 16.5ZM17.0955 8.25C16.873 8.25 16.6554 8.18402 16.4704 8.0604C16.2854 7.93679 16.1412 7.76109 16.0561 7.55552C15.9709 7.34995 15.9487 7.12375 15.9921 6.90552C16.0355 6.68729 16.1426 6.48684 16.3 6.3295C16.4573 6.17217 16.6578 6.06502 16.876 6.02162C17.0942 5.97821 17.3204 6.00049 17.526 6.08564C17.7315 6.17078 17.9072 6.31498 18.0309 6.49998C18.1545 6.68499 18.2205 6.9025 18.2205 7.125C18.2205 7.42337 18.1019 7.70952 17.891 7.9205C17.68 8.13147 17.3938 8.25 17.0955 8.25Z" fill="#505050"/>
            </g>
            </svg>
      </a>

  
  </div>