{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
  <div class="color-{{ section.settings.color_scheme }} gradient ">
  <div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}section-{{ section.id }}-padding isolate">
<div class="row">  
  <div class="layout-type {{section.settings.contact_layout}}">
  {% if section.settings.enable_gmap %}
  <div class="map">
    {{ section.settings.contact_iframe_code }} 
  </div>
    {% endif %}
            {% if section.settings.enable_contact_info %}
        <ul class="dt-contact-iconblock-section dt-sc-column {% if section.settings.contact_phone != blank and section.settings.contact_module_email == blank and section.settings.contact_module_address == blank %}one-column{% endif %}{% if section.settings.contact_phone != blank and section.settings.contact_module_email != blank and section.settings.contact_module_address == blank %}two-column{% endif %}{% if section.settings.contact_phone != blank and section.settings.contact_module_email != blank and section.settings.contact_module_address != blank %}three-column{% endif %} wow {% if  section.settings.animation_effect == true %} {{ section.settings.animation_effect_iconblock_section }} {% endif %} ">
          {% if section.settings.contact_phone %}         
          <li class="dt-contact-icon-block">
            {% if section.settings.contact_icon_1 != blank  %}
            <div class="dt-contact-icon-image">
              <i class="{{section.settings.contact_icon_1}}"></i> 
            </div>
            {% endif %}
            <div class="dt-contact-icon-content">
              <h5>{{ section.settings.contact_module_contact_phonetitle }}</h5>
              <p>  {{ section.settings.contact_phone1 }} <br>{{ section.settings.contact_phone2 }}</p><mark></mark>
            </div>
          </li>
          {% endif %}        
          {% if section.settings.contact_module_email %}        
          <li class="dt-contact-icon-block">
            {% if section.settings.contact_icon_2 != blank  %}
            <div class="dt-contact-icon-image">
              <i class="{{section.settings.contact_icon_2}}"></i>
            </div>
            {% endif %}
            <div class="dt-contact-icon-content">
              <h5>{{ section.settings.contact_module_contact_title }}</h5>
              <p> 
                <a title="{{ section.settings.contact_module_email1 }}" href="mailto:{{ section.settings.contact_module_email1 }}">{{ section.settings.contact_module_email1 }}</a><br>
                <a title="{{ section.settings.contact_module_email2 }}" href="mailto:{{ section.settings.contact_module_email2 }}">{{ section.settings.contact_module_email2 }}</a>
              </p> 
            </div>
          </li>
          {% endif %}        
          {% if section.settings.contact_module_address %} 
          <li class="dt-contact-icon-block"> 
            {% if section.settings.contact_icon_3 != blank  %}
            <div class="dt-contact-icon-image">
              <i class="{{section.settings.contact_icon_3}}"></i>
            </div> 
            {% endif %}
            <div class="dt-contact-icon-content">
              <h5>{{ section.settings.contact_module_address_title }}</h5>
              <p> {{ section.settings.contact_module_address1 }}<br /> {{ section.settings.contact_module_address2 }}<br />{{ section.settings.postcode }}</p><mark></mark> 
            </div>
          </li>
          {% endif %}
        </ul>
        {% endif %}
  <div class="contact contact-form-section">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading  }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
           <div class="field">
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
           </div>
      </div>
      
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
  </div>
</div>
</div>
</div>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type":"checkbox",
      "id":"page_full_width",
       "default": false,
      "label": "t:sections.all.page_full_width.label"
    },
    {
      "type":"checkbox",
      "id":"page_full_width_spacing",
       "default": false,
      "label": "t:sections.all.page_full_width_spacing.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
    "type": "select",
    "id": "contact_layout",
    "label":"Layout Type",
    "default": "block_layout",
    "info":"You can see variations only if enabled all the sections", 
    "options": [
    {
    "value": "block_layout",
    "label": "Block Layout"
    }, 
    {
    "value": "left_map_form_inline",
    "label": "Left Map + Form"
    }, 
    {
    "value": "left_map_iconblock_inline",
    "label": "Left Map + Icon Blocks"
    },        
    {
    "value": "left_iconblock_form_inline",
    "label": "Left Icon Blocks + Form "
    }               
    ]
    },
    {
    "type": "header",
    "content": "Map Section"            
    },
    {
    "type": "checkbox",
    "id": "enable_gmap",
    "label": "Enable Map Section"
    },
    {
    "type": "textarea",
    "id": "contact_iframe_code",
    "label": "Map Code[iframe]",
    "info": "[Where do I find googlemap action URL?](https:\/\/support.google.com\/maps\/answer\/3544418?hl=en)"
    },
    {
    "type": "header",
    "content": "Contact-Info Section"            
    },
    {
    "type": "checkbox",
    "id": "enable_contact_info",
    "label": "Enable Contact-Info Section"
    },  
    {
    "type": "checkbox",
    "id": "contact_phone",
    "label": "Enable Phone"
    },
    {
    "type": "text",
    "id": "contact_module_contact_phonetitle",
    "label": "Title",
    "default": "Phone"
    },
    {
    "type": "text",
    "id": "contact_icon_1",
    "label": "Icon Class",
    "default": "fa fa-phone"
    },
    {
    "type": "text",
    "id": "contact_phone1",
    "label": "Phone 1",
    "default": "<b>Toll-Free: </b> 0803 - 080 - 3081"
    },
    {
    "type": "text",
    "id": "contact_phone2",
    "label": "Phone 2",
    "default": "<b>Fax: </b> 0803 - 080 - 3082"
    },
    
    {
    "type": "checkbox",
    "id": "contact_module_email",
    "label": "Enable Email"
    },
    {
    "type": "text",
    "id": "contact_module_contact_title",
    "label": "Title",
    "default": "Email"
    },
    {
    "type": "text",
    "id": "contact_icon_2",
    "label": "Icon Class",
    "default": "fa fa-envelope"
    },
    {
    "type": "text",
    "id": "contact_module_email1",
    "label": "Email 1",
    "default": "mail@example.com"
    },
    {
    "type": "text",
    "id": "contact_module_email2",
    "label": "Email 2",
    "default": "support@example.com"
    },
    {
    "type": "checkbox",
    "id": "contact_module_address",
    "label": "Enable Address"
    },
    {
    "type": "text",
    "id": "contact_module_address_title",
    "label": "Title",
    "default": "Address"
    },
    {
    "type": "text",
    "id": "contact_icon_3",
    "label": "Icon Class",
    "default": "fa fa-location-arrow"
    },
    {
    "type": "textarea",
    "id": "contact_module_address1",
    "label": "Address 1",
    "default": "No: 58 A, East Madison Street,"
    },
    {
    "type": "textarea",
    "id": "contact_module_address2",
    "label": "Address 2",
    "default": "Baltimore, MD, USA 4508"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}