{{ 'section-grid-banner-style7.css' | asset_url | stylesheet_tag }}

{%- liquid

  case section.settings.grid-column
  when '1'
  assign column = 'one-column'
  when '2'
  assign column = 'two-column'
  when '3'
  assign column = 'three-column'
  when '4'
  assign column = 'four-column'
  when '5'
  assign column = 'five-column'
  when '6'
  assign column = 'six-column'
  else
  assign column = 'three-column'
  endcase

  
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
  if section.settings.swiper_enable
  assign enable_slider = true  
  endif


 %}
{%- style -%}

 {% if section.settings.mask_after_image != blank %}  
 .home-grid-banner-2 .swiper-button-next:after { position: absolute; content:'';
  mask-image: url({{ section.settings.mask_after_image | image_url: width: 275  }});
  mask-size: contain; 
  mask-repeat: no-repeat;
  -webkit-mask-image: url({{ section.settings.mask_after_image | image_url: width: 275  }});
  -webkit-mask-size: contain; 
  -webkit-mask-repeat: no-repeat;
	 transition: all 0.3s linear ;  background-color: currentColor; height: 21px; width: 40px;
}
    {% endif %}
  
 {% if section.settings.mask_before_image != blank %}  
  .home-grid-banner-2 .swiper-button-prev:before { position: absolute; content:'';
  mask-image: url({{ section.settings.mask_before_image | image_url: width: 275  }});
  mask-size: contain; 
  mask-repeat: no-repeat;
  -webkit-mask-image: url({{ section.settings.mask_before_image | image_url: width: 275  }});
  -webkit-mask-size: contain; 
  -webkit-mask-repeat: no-repeat;
	 transition: all 0.3s linear ;  background-color: currentColor; height: 21px; width: 40px;
}
    {% endif %}
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 1024px) {
    .grid-banner-style7 .home-grid-banner-1 { position: relative; }
  {% if section.settings.after_image != blank %}
.grid-banner-style7 .home-grid-banner-1:after{ position: absolute; content:''; background-image: url('{{ section.settings.after_image | image_url: width: 1920 }}'); 
   background-repeat: no-repeat; background-size: auto; background-attachment: scroll; background-position: center center; height: 65px; width: 65px; right: 1.5%; bottom: 25%;}
  
   {% endif %} 

  }
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .grid-banner .swiper-button-next, 
.grid-banner .swiper-button-prev{bottom:0;top:auto}
  
.specification_block{
  background: transparent;
  border: 2px dashed white;  
  box-shadow:none;
}
.specification_block:hover{
  background: transparent;
}

{%- endstyle -%}    
  
 
<div class="grid-banner    color-{{ section.settings.color_scheme }} {% if section.settings.title == blank %} no-heading{% endif %} {{ section.settings.custom_class_name }} ">
 <div class="styli7 {% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}">
   <div class="styli section-{{ section.id }}-padding isolate">
<div class="row"> 
  <div class="grid-banner-wrapper">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin content-align--{{ section.settings.column_alignment }}">
          <p class="grid-banner-list-title__text grid-banner-list-title__text--caption {{ section.settings.text_style }} {{ section.settings.text_style }}--{{ section.settings.text_size }} {{ section.settings.text_style }}" {{ section.shopify_attributes }}>{{ section.settings.subtitle | escape }}</p>
          {%- if section.settings.sub_heading != blank -%}  
         <h6 class="sub-heading">{{ section.settings.sub_heading | escape }}</h6>
         {%- endif -%}
        <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title }}
          </h2>
          {%- if section.settings.button_label != blank and show_mobile_slider -%}
            <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
          {%- endif -%}
          </div>
        {%- endunless -%}
      {% unless enable_slider %}
      <slider-component class="slider-mobile-gutter">
    {% else %}
    <grid-slider class="team-section-slider {% if section.settings.banner_style == 'overlay' %}{{ section.settings.banner_style }} {% endif %} {% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}">
      <div data-slider-options='{"loop": "{%- if section.settings.centered_slide -%}1{%- else -%}2{%- endif -%}","desktop": "{{ section.settings.desktop_column }}", "tablet": "{{ section.settings.tablet_column }}","mobile": "{{ section.settings.mobile_column }}","auto_play": "{{ section.settings.auto_play }}","mobile_space": "{{ section.settings.mobile_space }}","tab_space":"{{ section.settings.tab_space }}","desktop_space":"{{ section.settings.desktop_space }}"}'>
      <div class="swiper" data-grid-slider>
      {%- endunless -%}
     <div class="{% if enable_slider %}swiper-wrapper{% endif %} {% unless enable_slider %} grid-banner-section {{ column }} {{ section.settings.banner_style }}{%  endunless %} {% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %} {% unless enable_slider %} grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--mobile grid--peek{% endif %}{%- endunless -%}"
        id="Slider-{{ section.id }}"
        role="list"
      >
       {%- for block in section.blocks -%} 
       <div class="grid-cham--{{ forloop.index }}  {% unless enable_slider %}grid-banner-wrapper{% else %} swiper-slide{% endunless %}">   
         <div class="grid-banner-block-image">
          {%- if block.settings.enable_title_link %} <a href="{{ block.settings.block_button_link }}" class="grid-banner-image">{% endif %}
          {% if block.settings.block_image != blank %}
            {{  block.settings.block_image| image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: height,
              sizes: "100vw",
 format: 'webp',
 class: 'grid-banner-image',
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}

            {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder_svg' }}
            {% endif %}
          </a>
         </div>    
         {% if block.settings.show_content %}
          <div class="grid-banner-content">
          <div class="grid-banner-inners banner--content-align-{{ block.settings.desktop_contents_alignments }}">
          {% if block.settings.block_title != blank %}
          {% if block.settings.block_sub_title != blank %}
          <h4 class="sub-title">{{ block.settings.block_sub_title }}</h4>
          {% endif %}
          <h2 class="main-title ">
          {% if block.settings.enable_title_link %}<a href="{{ block.settings.block_button_link }}">{% endif %}
          {{ block.settings.block_title }}
          {% if block.settings.enable_title_link %}</a>{% endif %}
          </h2>
          {% endif %}                    
          {% if block.settings.block_description != blank %}
          <p class="description">{{ block.settings.block_description }}</p>
          {% endif %}
          {% if block.settings.block_button_link != blank %}
          <a href="{{ block.settings.block_button_link }}" class="banner-button button button--primary banner--content-align-{{ block.settings.desktop_contents_alignments }}"><span>{{ block.settings.block_button_text }} </span></a>
          {% endif %}
          </div> 
          </div>  
             {% endif %}
       </div>  
         {% endfor %}          
      
  </div>
        {% unless enable_slider %}
      {%- if show_mobile_slider -%}
        <div class="slider-buttons no-js-hidden medium-hide">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
      {% else %}
        {% if section.settings.swiper_navigation != blank %}
        <div class="swiper-button-next"><span></span></div>
        <div class="swiper-button-prev"><span></span></div>
        {% endif %}
    </div>
    {% if section.settings.swiper_pagination != blank %}
    <div class="swiper-pagination"></div>
    {% endif %}
    </div>
      </grid-slider>
    {%- endunless -%}
</div>
</div>
</div>  
</div>
<!-- Script-Start -->

<script type="text/javascript">
  $(document).ready(function(){
    $( ".gridPlay" ).each(function( index ) {
      $(this).on('click', function(){
      $(this).css('display','none');
      $(this).next('.gridPause').css('display','flex');
      $(this).closest('.dt-sc-grid-banner').find('video').trigger('play');
      });
    });
    $( ".gridPause" ).each(function( index ) {
      $(this).on('click', function(){
      $(this).css('display','none');
      $(this).prev('.gridPlay').css('display','flex');
      $(this).closest('.dt-sc-grid-banner').find('video').trigger('pause');
      });
    });
  });
</script>

<!-- Script-End -->

{% schema %}
{
  "name": "t:sections.grid-banner-style7.name",
  "class": "section grid-banner-style7",
  "tag": "section",
  "settings": [
    {
      "type":"checkbox",
      "id":"page_full_width",
       "default": false,
      "label": "t:sections.all.page_full_width.label"
    },
    {
      "type":"checkbox",
      "id":"page_full_width_spacing",
       "default": false,
      "label": "t:sections.all.page_full_width_spacing.label"
    },
    {
        "type": "text",
        "id": "sub_heading",
        "label": "t:sections.all.sub_heading.label"
      },
    {
      "type": "text",
      "id": "title",
      "default": "grid-banner",
      "label": "t:sections.grid-banner-style7.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
     
    {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.grid-banner-style7.settings.subtitle.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.grid-banner-style7.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.grid-banner-style7.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.grid-banner-style7.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.grid-banner-style7.settings.text_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.grid-banner-style7.settings.text_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.grid-banner-style7.settings.text_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.grid-banner-style7.settings.text_size.label"
        },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.grid-banner-style7.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.grid-banner-style7.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.grid-banner-style7.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.grid-banner-style7.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.grid-banner-style7.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.grid-banner-style7.settings.background_style.label"
    },
    {
    "type": "select",
    "id": "banner_style",
    "options": [
    {
    "value": "grid",
    "label": "t:sections.grid-banner-style7.settings.banner_style.options__1.label"
    },
    {
    "value": "overlay",
    "label": "t:sections.grid-banner-style7.settings.banner_style.options__2.label"
    }
    ],
     "default": "grid",
     "label": "t:sections.grid-banner-style7.settings.banner_style.label"
    },
    {
    "type": "select",
    "id": "grid-column",
    "options": [
    {
    "value": "1",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__1.label"
    },
    {
    "value": "2",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__2.label"
    },
    {
    "value": "3",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__3.label"
    },
    {
    "value": "4",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__4.label"
    },
    {
    "value": "5",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__5.label"
    },
    {
    "value": "6",
    "label": "t:sections.grid-banner-style7.settings.grid-column.options__6.label"
    }
    ],
    "default": "2",
    "label": "t:sections.grid-banner-style7.settings.grid-column.label" 
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.grid-banner-style7.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.grid-banner-style7.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
     {
        "type": "image_picker",
        "id": "mask_before_image",
        "label": "t:sections.grid-banner-style7.settings.mask_before_image.label"
      },
      {
        "type": "image_picker",
        "id": "mask_after_image",
        "label": "t:sections.grid-banner-style7.settings.mask_after_image.label"
      },
    {
        "type": "image_picker",
        "id": "after_image",
        "label": "t:sections.grid-banner-style7.settings.after_image.label"
      },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
    "type": "header",
    "content": "t:sections.grid-banner-style7.settings.custom_class_heading.content"
    },
    {
    "type": "text",
    "id": "custom_class_name",
    "label": "t:sections.grid-banner-style7.settings.custom_class_name.label"
    },
        {
      "type": "header",
      "content": "t:sections.all.swiper.swiper_slider_title"
    },
    {
      "type": "checkbox",
      "id": "swiper_enable",
      "default": false,
      "label": "t:sections.all.swiper.swiper_slider_enable"
    },
    {
      "type": "range",
      "id": "desktop_column",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "t:sections.all.swiper.desktop_column",
      "default": 4
    },
    {
      "type": "range",
      "id": "tablet_column",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "t:sections.all.swiper.tablet_column",
      "default": 3
    },
    {
      "type": "range",
      "id": "mobile_column",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:sections.all.swiper.mobile_column",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "centered_slide",
      "default": false,
      "label": "t:sections.all.swiper.centered_slide"
    },
    {
      "type": "checkbox",
      "id": "swiper_pagination",
      "default": false,
      "label": "t:sections.all.swiper.swiper_pagination"
    },
    {
      "type": "checkbox",
      "id": "swiper_navigation",
      "default": false,
      "label": "t:sections.all.swiper.swiper_navigation"
    },
    {
      "type": "range",
      "id": "auto_play",
      "min": 0,
      "max": 15,
      "step": 1,
      "label": "t:sections.all.swiper.auto_play",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_space",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "t:sections.all.swiper.mobile_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "tab_space",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "t:sections.all.swiper.tab_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_space",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "t:sections.all.swiper.desktop_space",
      "default": 0
    }
  ],
  "blocks": [
    {
    "type": "text",
    "name": "t:sections.grid-banner-style7.blocks.text.name",
    "settings": [
    {
    "type": "image_picker",
    "id": "block_image",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.block_image.label",
    "info": "Size: 1280x820 [Act as poster image for video type]"
    },
    {
    "type": "checkbox",
    "id": "show_content",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.show_content.label",
    "default": true
    },
    {
    "type": "text",
    "id": "block_title",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.block_title.label",
    "default": "Title"
    },
    {
    "type": "checkbox",
    "id": "enable_title_link",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.enable_title_link.label",
    "default": false
    },
    {
    "type": "text",
    "id": "block_sub_title",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.block_sub_title.label",
    "default": "Sub title"
    },
    {
    "type": "text",
    "id": "block_description",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.block_description.label",
    "default": "Short description"
  },
  {
  "type": "text",
  "id": "block_button_text",
  "label": "t:sections.grid-banner-style7.blocks.text.settings.block_button_text.label"
  },
  {
  "type": "url",
    "id": "block_button_link",
    "label": "t:sections.grid-banner-style7.blocks.text.settings.block_button_link.label"
    },
    {
      "type": "select",
      "id": "desktop_contents_alignments",
      "options": [
       {
          "value": "top-left",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__3.label"
        },
        {
          "value": "center-left",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__5.label"
        },
        {
          "value": "center-right",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__6.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__8.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.options__9.label"
        }
      ],
      "default": "center",
      "label": "t:sections.grid-banner-style7.blocks.text.settings.desktop_contents_alignment.label"
    }
    ]
    }
    ],
    "presets": [
    {
      "name": "t:sections.grid-banner-style7.presets.name"
    }
  ]
}

{% endschema %}        
     