<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}



<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
 
<style>  

  @media screen and (min-width: {{section.settings.mobile_screen_width }}px) {
    header-drawer {
      display: none;
    }
  }
@media screen and (max-width: {{section.settings.mobile_screen_width  | minus: 1}}px) {
     .page-width.mega{display:none;}
}
  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    {% comment %} padding-bottom: 1rem;
    padding-top: 1rem; {% endcomment %}
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    .header__heading-logo {
      height: auto;
      width: 80px;
      padding: 0;
      margin: 0;
      line-height: 1;
  }

  }

  .header__heading, .header__heading-link {

    width: 110px;
    height:80px;
    padding:0;
}



ul.dt-nav > li > a { font-family: var(--font-heading-family);  letter-spacing:0; text-transform: uppercase;  font-weight: 700;  display: block; padding: 0; margin: 10px 18px 10px 18px; position: relative;  box-sizing: border-box; 
  border-radius: var(--DTRadius); transition: all 0.3s linear;
  font-size: {{ section.settins.menufont }}px;
 {% render 'globalcolor' , color: section.settings.menucolor %}


}

ul.dt-nav > li > a span:before, ul.dt-nav > li > a span:after { content: ""; position: absolute; height: 2px; bottom: -12px; width: 0; margin: auto; border-radius: 2px; 

  {% render 'globalcolor' , color: section.settings.menucolorhover %}
}

ul.dt-nav > li:hover > a span, ul.dt-nav li.active > a, ul.dt-nav > li:hover > a, ul.dt-nav > li.active > a, ul.dt-nav > li.active > a.mega-menu > span:after {
{% render 'globalcolor' , color: section.settings.menucolorhover %}
}

.ul.dt-nav >  li:hover > a > span{
  font-size: {{ section.settins.menufont }}px;
 {% render 'globalcolor' , color: section.settings.menucolorhover %}
}
.ul.dt-nav  span {
  display: block;
}


@media screen and (max-width: 750px) {

  
  header-drawer {
    order: 1;
  }
  
  .header__heading {
    order: 2;
  }
  
  .header__icons {
    order: 3;
  }
  .header__heading, .header__heading-link{
    grid-area: unset !important;
    justify-self: center;
  
  }
  .header--middle-left {
    grid-template-areas: "heading navigation icons";
    grid-template-columns:  auto  1fr auto;
    column-gap: 2rem;
}

.header {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__heading, .header__heading-link {
  width: 80px;
  height: 80px;

}

}

</style>

{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

{% capture primaryMenu %}
{%- if section.settings.pick_menu -%}
{%- assign main_menu_linklist = section.settings.menu.links -%}
{%- else -%}
{%- assign main_menu_linklist = 'main-menu' -%}
{%- endif -%}

{%- if main_menu_linklist != blank -%}
<ul class="dt-sc-list-inline  dt-desktop-menu dt-nav" data-menu="dt-main-menu">  
  {%- for link in linklists[main_menu_linklist].links -%}  
  {% render 'navigation', class: 'primaryMenu', link: link %}
  {%- endfor -%}
</ul>
{%- endif -%}
{%  endcapture %}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'dt-mega-menu.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper
  
  color-{{ section.settings.color_scheme }}
  
  gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header id="header" class="{% if request.page_type == 'index' %}{%- if section.settings.enable_transparent_header != blank -%}index-header {% endif %}{% endif %} header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}    color-{{ section.settings.color_scheme }}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
       
      <span>
              {% render 'icon-hamburger' %}
      
              {% comment %} {% render 'icon-close' %} {% endcomment %}
            </span>
 
      
          </summary>
      
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                 <nav class="menu-drawer__navigation">
                    {%- if section.settings.pick_menu -%}
                    {%- assign main_menu_linklist = section.settings.menu.links -%}
                    {%- else -%}
                    {%- assign main_menu_linklist = 'main-menu' -%}
                    {%- endif -%}
                    
                    {%- if main_menu_linklist != blank -%}
                    <ul class="menu-drawer__menu has-submenu list-menu" role="list"> 
                    {%- for link in linklists[main_menu_linklist].links -%}  
                    {% render 'mobile-navigation', class: 'primaryMenu', link: link %}
                    {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>

              {% render 'searchliquid' %}
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size_2x = section.settings.logo_width | times: 2 | at_most: 5760 -%}
            <img srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
              src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}
              {%- if section.settings.menu != blank -%}
              <div class="page-width {{section.settings.menu_type_desktop}} header__inline-menu">
                <div class="row">
                  <nav id="AccessibleNav" role="navigation" class="dt-sc-flex-space-between" data-menu="dt-main-menu">
                    {{ primaryMenu }}
                  </nav>
                </div>
              </div>               
              {%- endif -%}

    <div class="header__icons">
   {% comment %} cart icon here  {% endcomment %}
      {%- if section.settings.show_header_cart -%}   
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
            </a>
      {%- endif -%}

      {%- if section.settings.show_search -%}   
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              {% render 'searchliquid' %}

              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
        {%- endif -%}
        {%- if section.settings.show_header_wishlist -%}        
              <a href="/pages/wishlist" class="header__icon header__icon--wishlist link">
                {% render 'icon-wishlist' %}
                <dtx-wish-count class="dtxc-wishlist-count cart-count-bubble" grid_type="wishList" count="0">
                  <div class="grid-count-bubble">
                    <span aria-hidden="true"></span>
                  </div>
                </dtx-wish-count>
              </a>
          {%- endif -%}

          {%- if section.settings.show_header_compare -%}          
              <a href="/pages/compare" class="header__icon header__icon--compare link">
                {% render 'icon-compare' %}
                <dtx-wish-count class="dtxc-compare-count cart-count-bubble" grid_type="compareList" count="0">
                  <div class="grid-count-bubble">
                    <span aria-hidden="true"></span>
                  </div>
                </dtx-wish-count>
              </a>          
          {%- endif -%}
              
         {% comment %} cart icon here  {% endcomment %}


{%- if shop.customer_accounts_enabled and section.settings.show_account -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
                    
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'HeaderCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body visually-hidden" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {% assign nameFlagUp = localization.country.iso_code | downcase %}
                    {{ localization.country.iso_code }} <span class="flag-icon flag-icon-{{ nameFlagUp }}"></span>
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        {% assign nameFlag = country.iso_code | downcase %}

                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                            {{ country.iso_code }} <span class="localization-form__currency flag-icon flag-icon-{{ nameFlag }}"></span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'HeaderLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>


{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
     // this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
     // this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
        
        
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [

    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "Section Backgound Color"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "number",
      "id": "menufont",
      "label": "Menu font on size desktop",
      "default": 14
    },
    {
      "type": "select",
      "id": "menucolor",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "menucolorhover",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },

    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
    "type": "text",
    "id": "mobile_screen_width",
    "label": "t:sections.header.settings.mobile_screen_width.label",
    "default": "1280",
    "info": "Units not needed. 'px' comes by default"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
     {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "default": false,
      "label": "t:sections.header.settings.enable_transparent_header.label"
    },
        {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
     {
      "type": "header",
      "content": "t:sections.header.settings.header.content"
    },
     {
    "type": "checkbox",
    "id": "show_search",
    "label": "t:sections.header.settings.show_search.label",
    "default": true
    }, 
    {
    "type": "checkbox",
    "id": "show_header_wishlist",
    "label": "t:sections.header.settings.show_header_wishlist.label",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "show_header_compare",
    "label": "t:sections.header.settings.show_header_compare.label",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "show_account",
    "label": "t:sections.header.settings.show_account.label",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "show_header_cart",
    "label": "t:sections.header.settings.show_header_cart.label",
    "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
  {
"type": "header",
"content": "Sale"
},
{
"type" : "checkbox",
"id" : "enable_sale",
"label" : "Display Sale Tag",
"default" : true
},
{
"type" : "text",
"id" : "sale_txt",
"label" : "Sale",
"default" : "Sale"
},
{
"type" : "textarea",
"id" : "sale_tags",
"label" : "Map sale tag with menus",
"info": "Separate with comma[,]"
},
{
"type": "header",
"content": "New"
},
{
"type" : "checkbox",
"id" : "enable_new",
"label" : "Display New Tag",
"default" : true
},
{
"type" : "text",
"id" : "new_txt",
"label" : "New",
"default" : "New"
},
{
"type" : "textarea",
"id" : "new_tags",
"label" : "Map new tag with menus",
"info": "Separate with comma[,]"
},
{
"type": "header",
"content": "Hot"
},
{
"type" : "checkbox",
"id" : "enable_hot",
"label" : "Display Hot Tag",
"default" : true
},
{
"type" : "text",
"id" : "hot_txt",
"label" : "Hot",
"default" : "Hot"
},
{
"type" : "textarea",
"id" : "hot_tags",
"label" : "Map hot tag with menus",
"info": "Separate with comma[,]"
}
],
"blocks": [
{
"type": "promo_image",
"name": "Promo image",
"settings": [
{
"type": "text",
"id": "mega_1",
"label": "Map item",
"info": "This submenu will appear as a megamenu."
},
{
"type": "select",
"id": "mega_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "four-column",			"label": "4 column"},
{"value": "three-column",			"label": "3 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse",
"label": "Row reverse",
"default": false
},
{
"type": "header",
"content": "Image 1"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_1",
"label": "Heading"
},
{
"type": "text",
"id": "button_1",
"label": "Button"
},
{
"type": "url",
"id": "link_1",
"label": "Link"
},
{
"type": "header",
"content": "Image 2"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_2",
"label": "Heading"
},
{
"type": "text",
"id": "button_2",
"label": "Button"
},
{
"type": "url",
"id": "link_2",
"label": "Link"
},
{
"type": "header",
"content": "Image 3"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_3",
"label": "Heading"
},
{
"type": "text",
"id": "button_3",
"label": "Button"
},
{
"type": "url",
"id": "link_3",
"label": "Link"
},
{
"type": "header",
"content": "Image 4"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_4",
"label": "Heading"
},
{
"type": "text",
"id": "button_4",
"label": "Button"
},
{
"type": "url",
"id": "link_4",
"label": "Link"
}
]
},
{
"type": "promo_banner",
"name": "Promo banner",
"settings": [
{
"type": "text",
"id": "mega_1",
"label": "Map item",
"info": "This submenu will appear as a megamenu."
},
{
"type": "select",
"id": "mega_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",     "label": "3 column"},
{"value": "four-column",      "label": "4 column"},
{"value": "five-column",      "label": "5 column"},
{"value": "six-column",       "label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse",
"label": "Row reverse",
"default": false
},
{
"type": "header",
"content": "Banner 1"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_1",
"label": "Heading"
},
{
"type": "text",
"id": "button_1",
"label": "Button"
},
{
"type": "url",
"id": "link_1",
"label": "Link"
},
{
"type": "header",
"content": "Banner 2"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image",
"info": "Recommended size: 400 x 700 px"
},
{
"type": "text",
"id": "title_2",
"label": "Heading"
},
{
"type": "text",
"id": "button_2",
"label": "Button"
},
{
"type": "url",
"id": "link_2",
"label": "Link"
}
]
},
{
"type": "brands",
"name": "Brands",
"settings": [
{
"type": "text",
"id": "mega_1",
"label": "Map item",
"info": "This submenu will appear as a megamenu."
},
{
"type": "select",
"id": "mega_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",     "label": "3 column"},
{"value": "four-column",      "label": "4 column"},
{"value": "five-column",      "label": "5 column"},
{"value": "six-column",       "label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},

{
"type": "checkbox",
"id": "row_reverse",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "image_1",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_1",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_2",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_3",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_4",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_5",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_5",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_6",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_6",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_7",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_7",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_8",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_8",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_9",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_9",
"label": "Link"
},
{
"type": "image_picker",
"id": "image_10",
"label": "Brand",
"info": "Recommended size: 250 x 200 px"
},
{
"type": "url",
"id": "link_10",
"label": "Link"
}
]
},
{
"type": "product",
"name": "Product",
"settings": [
{
"type": "text",
"id": "mega_1",
"label": "Map item",
"info": "This submenu will appear as a megamenu."
},
{
"type": "select",
"id": "mega_columns",
"label":"Column style",
"default": "four-column",
"options":  [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse",
"label": "Row reverse",
"default": false
},
{
"type": "product",
"id": "product1",
"label": "Product"
},
{
"type": "product",
"id": "product2",
"label": "Product"
},
{
"type": "product",
"id": "product3",
"label": "Product"
},
{
"type": "product",
"id": "product4",
"label": "Product"
}
]
},
{
"type": "tab",
"name": "Tab menu",
"settings": [
{
"type": "text",
"id": "mega_1",
"label": "Map item",
"info": "This submenu will appear as a megamenu."
},
{
"type": "checkbox",
"id": "row_reverse",
"label": "Row reverse",
"default": false
},
{
"type": "select",
"id": "tab-menu",
"label": "Tab Menu Style",
"default": "horizontal",
"options": [
{"value": "horizontal", "label": "Horizontal"},
{"value": "vertical",	"label": "Vertical"}
]
},
{
"type": "header",
"content": "Tab 1"
},
{
"type": "text",
"id": "tab1_heading",
"label": "Tab Heading",
"default": "Headding"
},
{
"type": "link_list",
"id": "tab1",
"label": "Select Menu"
},
{
"type": "select",
"id": "tab1_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse_tab1",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "tab1_image",
"label": "Banner"
},
{
"type": "header",
"content": "Tab 2"
},
{
"type": "text",
"id": "tab2_heading",
"label": "Tab Heading",
"default": "Headding"
},
{
"type": "link_list",
"id": "tab2",
"label": "Select Menu"
},
{
"type": "select",
"id": "tab2_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse_tab2",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "tab2_image",
"label": "Banner"
},
{
"type": "header",
"content": "Tab 3"
},
{
"type": "text",
"id": "tab3_heading",
"label": "Tab Heading",
"default": "Headding"
},
{
"type": "link_list",
"id": "tab3",
"label": "Select Menu"
},
{
"type": "select",
"id": "tab3_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse_tab3",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "tab3_image",
"label": "Banner"
},
{
"type": "header",
"content": "Tab 4"
},
{
"type": "text",
"id": "tab4_heading",
"label": "Tab Heading",
"default": "Headding"
},
{
"type": "link_list",
"id": "tab4",
"label": "Select Menu"
},

{
"type": "select",
"id": "tab4_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse_tab4",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "tab4_image",
"label": "Banner"
},
{
"type": "header",
"content": "Tab 5"
},
{
"type": "text",
"id": "tab5_heading",
"label": "Tab Heading",
"default": "Headding"
},
{
"type": "link_list",
"id": "tab5",
"label": "Select Menu"
},
{
"type": "select",
"id": "tab5_columns",
"label":"Column style",
"default": "four-column",
"options": [
{"value": "three-column",			"label": "3 column"},
{"value": "four-column",			"label": "4 column"},
{"value": "five-column",			"label": "5 column"},
{"value": "six-column",				"label": "6 column"},
{"value": "double-quarter-one-half","label": "1:1:2 column"}
]
},
{
"type": "checkbox",
"id": "row_reverse_tab5",
"label": "Row reverse",
"default": false
},
{
"type": "image_picker",
"id": "tab5_image",
"label": "Banner"
},
{
"type": "header",
"content": "Tab Colors"
}
]
}
]
}
{% endschema %}
