{% schema %}
{
  "name": "About page Header",
  "tag": "section",
  "class": "section-about",
  "settings": [
    {
      "type":"checkbox",
      "id":"page_full_width",
       "default": false,
      "label": "t:sections.all.page_full_width.label"
    },
    {
      "type":"checkbox",
      "id":"page_full_width_spacing",
       "default": false,
      "label": "t:sections.all.page_full_width_spacing.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "number",
      "id": "heading_scale",
      "label": "Heading font on Desktop",
      "default": 50
    },
    {
      "type": "number",
      "id": "heading_scale_mobile",
      "label": "Heading font on Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme_font",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },

    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
   {
    "type": "header",
    "content": "t:sections.image-banner.settings.custom_class_heading.content"
    },
    {
    "type": "text",
    "id": "custom_class_name",
    "label": "t:sections.image-with-text.settings.custom_class_name.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        } 		
      ]
    },




    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
{
      "type": "list",
      "name": "t:sections.image-banner.blocks.list.name",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Add list of text values like bullet points.",
          "label": "t:sections.image-banner.blocks.list.settings.text.label"
        },
		{
         "type": "image_picker",
		 "id": "icon",    		
          "label": "t:sections.image-banner.blocks.list.settings.icon.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "subtitle",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About page Header",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}



<style>


.section-{{ section.id }}  .breadcrumb_title{
{% render 'globalcolor' , color: section.settings.color_scheme_font %}
font-size: {{ section.settings.heading_scale_mobile }}px !important; 
}

@media screen and (min-width: 750px) {

  .section-{{ section.id }} .breadcrumb_title{
    {% render 'globalcolor' , color: section.settings.color_scheme_font %}
    font-size:{{ section.settings.heading_scale }}px !important; 
    }

}
{% comment %} #about  .breadcrumb {
 display:none
} {% endcomment %}
 </style>



  {%  style %}
  .breadcrumb {background:url({{ settings.breadcrumb_image | image_url: width: 1920 }});background-repeat:no-repeat;background-size:cover;}  
  .breadcrumb a{color: rgba(var(--color-foreground),1);}  
  .breadcrumb a:hover{ color: var(--gradient-base-background-2);}
  .breadcrumb{padding-top:{{settings.breadcrumb_padding_top}}px;padding-bottom:{{settings.breadcrumb_padding_bottom}}px;margin-bottom:{{settings.breadcrumb_margin_bottom}}px;position: relative;z-index: 1;}  
  .breadcrumb .breadcrumb_title{margin:0;  
   {% render 'globalcolor' , color: settings.color_scheme_font_breadcome %}
   font-family: var(--font-heading-family);
   font-size: 40px;
 font-style: normal;
 font-weight: 400;
 color: var(--color-primary-one) !important;
 }
 
 
 
 
 
 
  .breadcrumb a, .breadcrumb span{display: inline-block;margin-top:1rem; color: var(--gradient-base-accent-2);  padding-right: 2px; margin-right: 2px; } 
  .breadcrumb.text-center{text-align:center;}  
  .breadcrumb.text-start{text-align:left;}  
  .breadcrumb.text-end{text-align:right;}
  .breadcrumb:before { position: absolute; content: "";  display: block;  width: 100%;  height: 100%;  left: 0;  top: 0;  z-index: -1;background:rgba(var(--color-base-background-1));opacity:.{{settings.image_overlay_opacity}};}  
  
    @media screen and (max-width: 1540px){
    .breadcrumb{ padding-top: calc({{settings.breadcrumb_padding_top}}px * 0.75);  padding-bottom: calc({{settings.breadcrumb_padding_bottom}}px * 0.75); }
 
    }
 
    @media screen and (max-width: 1199px){
    .breadcrumb{ padding-top: calc({{settings.breadcrumb_padding_top}}px * 0.50);  padding-bottom: calc({{settings.breadcrumb_padding_bottom}}px * 0.50); }
 
    }
  @media screen and (max-width: 767px){
    .breadcrumb{ padding-top: calc({{settings.breadcrumb_padding_top}}px * 0.30);  padding-bottom: calc({{settings.breadcrumb_padding_bottom}}px * 0.30); }
 
    }  
    
    
    
    
    {% endstyle %}

    
<style>
  #about  .breadcrumb.two-bradcome {
    display: block;
}
</style>
 {% unless template == 'index' %}
 <nav class="breadcrumb two-bradcome text-{{ settings.breadcrumb_style }} section-{{ section.id }} "  aria-label="breadcrumbs">
   <div class="page-width">
     <div class="row"> 

 

    


     {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'heading' -%}


      <h1 class="breadcrumb_title">{{ block.settings.heading  }}</h1>
      {%- when 'text' -%}
      <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
        <span>{{ block.settings.text | escape }}</span>
      </div>



        {%- endcase -%}
      {%- endfor -%}


 
   </div> 
   </div>
 </nav>
 {% endunless %}
