<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .rte{

    background-image: url({{ section.settings.image | img_url:'master'}});
  
  width:100%;
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  }
  .rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6{

{% render 'globalcolor' , color: section.settings.color_scheme_font %}
  }
  .rte h1 span,
  .rte h2 span,
  .rte h3 span,
  .rte h4 span,
  .rte h5 span,
  .rte h6 span{
font-size: 30px;

  }

  .rte a {
    color: #076CE3;
   
}
  .rte a:hover {
    color: #076CE3;
   
}
.rte h4{
    color: #505050 !important;
    font-size: 20px;
}
{%- endstyle -%}
<div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}section-{{ section.id }}-padding isolate">
<div class="row">
  {% comment %} <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1> {% endcomment %}
  <div class="rte">
    {{ page.content }}
  </div>
</div>
</div>  

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type":"checkbox",
      "id":"page_full_width",
       "default": false,
      "label": "t:sections.all.page_full_width.label"
    },
    {
      "type":"checkbox",
      "id":"page_full_width_spacing",
       "default": false,
      "label": "t:sections.all.page_full_width_spacing.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select your Bg Image"
    },
    {
      "type": "select",
      "id": "color_scheme_font",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "Heading color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
