

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} section-{{ section.id }} section-{{ section.id }}-padding">


  <div class="header-be-top">
    <div class="notice-scroll-wrap">
        <div class="notice-scroll">
  
          {% for c in section.blocks %}
            <p class="offer-notice">
              
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                <circle cx="3.78094" cy="3.53705" r="3.15619" fill="currentColor"/>
                </svg>
                
                
               <span>  {{ c.settings.slide }} </span>
{% comment %} 
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                  <circle cx="3.78094" cy="3.53705" r="3.15619" fill="currentColor"/>
                  </svg> {% endcomment %}
          
           </p>
          {% endfor %}
 


        </div>
    </div>
</div>
</div>



<style>
  .header-be-top{background-color:var(--title-color);max-width:100vw}.notice-scroll{display:-webkit-box;display:-ms-flexbox;display:flex;
    
    {% comment %} gap:10px {% endcomment %}
  
  
  }

  .notice-scroll-wrap{overflow:hidden}.notice-scroll .offer-notice{-webkit-animation:newsMove 10s linear infinite;animation:newsMove 10s linear infinite;position:relative;white-space:nowrap;margin-bottom:0;text-transform:uppercase}.notice-scroll .offer-notice a{color:inherit}.notice-scroll .offer-notice:before{content:"";height:6px;width:6px;border-radius:99px;background-color:var(--white-color);display:inline-block;position:absolute;left:-27px;top:9px}@-webkit-keyframes newsMove{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{-webkit-transform:translate3d(-200%,0,0);transform:translate3d(-200%,0,0)}}@keyframes newsMove{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{-webkit-transform:translate3d(-200%,0,0);transform:translate3d(-200%,0,0)}}

  .section-{{ section.id }} .offer-notice{
    {% render 'globalcolor' , color: section.settings.color_scheme_font %}
       font-size: {{ section.settings.heading_scale_mobile }}px !important; 
       margin:0;
       display: flex;
       align-items: center;
    }


  
    .section-{{ section.id }} .offer-notice span{
      padding: 0 7px; 
      font-weight: 400;
         }
    @media screen and (min-width: 750px) {
  
      .section-{{ section.id }} .offer-notice{
        {% render 'globalcolor' , color: section.settings.color_scheme_font %}
         font-size:{{ section.settings.heading_scale }}px !important; 
         margin:0;
        }
        .section-{{ section.id }} .offer-notice span{
          padding: 0 15px; 
             }
  
    }
</style>
{% schema %}
{
  "name": "Announce Slide",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    
  {
    "type": "number",
    "id": "heading_scale",
    "label": "Heading font on Desktop",
    "default": 18
  },
  {
    "type": "number",
    "id": "heading_scale_mobile",
    "label": "Heading font on Mobile",
    "default": 15
  },
    {
      "type": "select",
      "id": "color_scheme_font",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "primary-color01",
          "label": "primary color one"
        },
        {
          "value": "primary-color02",
          "label": "primary color two"
        },
        {
          "value": "primary-color03",
          "label": "primary color three"
        },
        {
          "value": "primary-color04",
          "label": "primary color Four"
        },
        {
          "value": "primary-color05",
          "label": "primary color Five"
        },
        {
          "value": "primary-color06",
          "label": "primary color Six"
        },
        {
          "value": "primary-color07",
          "label": "primary color Severn"
        },
        {
          "value": "primary-color08",
          "label": "primary color Eight"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "Text color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
         {
          "type": "text",
          "id": "slide",
          "label": "ADD Announcement",
          "default": "MAKE MORE MEMORIES",

          "placeholder": "MAKE MORE MEMORIES"
         }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "Announce slide two"
    }
  ]
}
{% endschema %}
