{{ 'section-testimonials-style-2.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-swiper.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-swiper.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

.testimonials-2 { position: relative; }
{% if section.settings.after_image != blank %}
.testimonials-2:after{ position: absolute; content:''; 
  
  background-image: url('{{ section.settings.after_image | image_url: width: 250 }}'); 
  @media only screen and (max-width: 600px) {
    background-image: url('{{ section.settings.after_image_mobile | image_url: width: 250 }}'); 
}
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position: center right;
    height: 217px;
    width: 243px;
    left: 0;
    bottom: -5.4%;
    object-fit: contain;
  
  
  }
  
   {% endif %} 






  
    @media screen and (min-width: 1200px) {
  .testimonials-2 .section-{{ section.id }}-padding { width: var(--page-width); max-width: 75%; }

    }
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

     {% if section.settings.mask_before_image != blank %}  
 .custom-testimonials-style-2 .testimonials-2 .testimonial-navigation-s2 .swiper-button-next:after { position: absolute; content:'';
  mask-image: url({{ section.settings.mask_before_image | image_url: width: 275  }});
  mask-size: contain; 
  mask-repeat: no-repeat;
  -webkit-mask-image: url({{ section.settings.mask_before_image | image_url: width: 275  }});
  -webkit-mask-size: contain; 
  -webkit-mask-repeat: no-repeat;
	 transition: all 0.3s linear ;  background-color: currentColor; height: 21px; width: 40px;
}
    {% endif %}
  
 {% if section.settings.mask_after_image != blank %}  
 .custom-testimonials-style-2 .testimonials-2 .testimonial-navigation-s2 .swiper-button-prev:after { position: absolute; content:'';
  mask-image: url({{ section.settings.mask_after_image | image_url: width: 275  }});
  mask-size: contain; 
  mask-repeat: no-repeat;
  -webkit-mask-image: url({{ section.settings.mask_after_image | image_url: width: 275  }});
  -webkit-mask-size: contain; 
  -webkit-mask-repeat: no-repeat;
	 transition: all 0.3s linear ;  background-color: currentColor; height: 21px; width: 40px;
}
    {% endif %}


  
{%- endstyle -%}

{%- liquid
if section.settings.enable_overlay
assign section_overlay = 'dt-sc-overlay'
endif

case section.settings.background_style
when 'scroll'
assign background_style = ' '
when 'fixed'
assign background_style = 'fixed_background'
endcase
assign margin = section.settings.margin | split: ','
assign margin_top = margin[0]
assign margin_bottom = margin[1]
assign padding = section.settings.padding | split: ','
assign padding_top = padding[0]
assign padding_bottom = padding[1]
 %}


<div class="testimonials-2 {{ section.settings.custom_class_name }} section-{{ section.id }} color-{{ section.settings.color_scheme }} {% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
<div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}section-{{ section.id }}-padding isolate">
<div class="row">    
  {%- if section.settings.image != blank -%}
      <div class="banner__media media">
        <img
          srcset="{%- if section.settings.image.width >= 375 -%}
          {{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
        {%- if section.settings.image.width >= 550 -%}
          {{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}
          {{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1100 -%}
          {{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}
          {{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 1780 -%}
          {{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}
          {{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 3000 -%}
          {{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
        {%- if section.settings.image.width >= 3840 -%}
          {{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}>
      </div>
    {%- endif -%}
  {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin content-align--{{ section.settings.column_alignment }}">
         {%- if section.settings.sub_heading != blank -%}  
         <h6 class="sub-heading-two">
          <img src="{{ section.settings.sub_heading | img_url:'master' }}" alt="">
       
       
       </h6>
         {%- endif -%} 
         {%- if section.settings.title != blank -%}  
          <h2 class="title {{ section.settings.heading_size }}">
            {{ section.settings.title | escape }}
          </h2>
          {%- endif -%} 
          {%- if section.settings.description != blank -%}  
          <p class="description">{{ section.settings.description }}</p>
          {%- endif -%}   
          {%- if section.settings.button_label != blank -%}
            <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.button_label | escape }}</a>
          {%- endif -%}
          </div>
    {%- endunless -%}
     {%- if section.blocks.size > 0 -%}
       <swiper-slider>
      <div class="testimonial-section" data-slider-options='{"loop": "{%- if section.settings.centered_slide -%}1{%- else -%}2{%- endif -%}","desktop": "{{ section.settings.desktop_column }}", "tablet": "{{ section.settings.tablet_column }}","mobile": "{{ section.settings.mobile_column }}","auto_play": "{{ section.settings.auto_play }}"}'>
     <div class="swiper testimonialsSwiper" id="quote-{{section.id}}-slider" data-swiper-slider>
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
        <div class="testimonial-container swiper-slide">
          
          <div class="testimonial-content {{ section.settings.content_alignment }}">
            <blockquote>
          {% if block.settings.image != blank %}    
          <div class="testimonial-image mask-{{ forloop.index }}-image"> 
            <img loading="lazy" width="" height=""
                 src="{{ block.settings.image | image_url: width: 550 }}"
                 alt="{{ block.settings.title }}"
                 class="img {%- if section.settings.rounded_image -%}rounded_image{%- endif -%}">   
          </div>
          {% endif %}
          {%- if block.settings.author != blank -%}
              <cite>
                <span>{{ block.settings.author }}</span>
              </cite>
              {%- endif -%}
              
   
          {%- if block.settings.quote != blank -%}{{ block.settings.quote }}{%- endif -%}
            {%  render 'dt-sc-rating-widget', block: block %}  

            </blockquote>
          </div>
        </div>
        {%- endfor -%}
      </div>
   {% if section.settings.swiper_navigation != blank %}
            <div class="testimonial-navigation-s2">
              <div class="swiper-button-next">
                <span></span>
              </div>
              <div class="swiper-button-prev">
                <span></span>
              </div>
            </div>
          {% endif %}
    </div>
    {% if section.settings.swiper_pagination != blank %}
    <div class="swiper-pagination"></div>
    {% endif %}
    </div>
    </swiper-slider>
    {%- endif -%}
  </div>
 </div>
</div>
<style>


  .custom-testimonials-style-2 .testimonials-2 .testimonial-image .img {
    max-width: 120px;
    border-radius: 0% !important;
    height: 145px;
    width: 150px;
    object-fit: cover;
}
  @media only screen and (max-width: 1600px) and (min-width: 1550px)  {
    .custom-testimonials-style-2 .testimonials-2 .testimonial-image .img {

      top: -165px;
  }

}
  @media only screen and (max-width: 1549px) and (min-width: 1450px)  {
    .custom-testimonials-style-2 .testimonials-2 .testimonial-image .img {

      top: -165px;
  }

}
  @media only screen and (max-width: 1449px) and (min-width: 1333px)  {
    .custom-testimonials-style-2 .testimonials-2 .testimonial-image .img {

      top: -165px;
  }

}
  @media only screen and (max-width: 1332px) and (min-width: 1000px)  {
    .custom-testimonials-style-2 .testimonials-2 .testimonial-image .img {

      top: -145px;
  }

}


.section-{{ section.id }} h2.title{
  {% render 'globalcolor' , color: section.settings.color_scheme_font %}
  font-size: {{ section.settings.heading_scale_mobile }}px !important; 
  }

  @media screen and (min-width: 750px) {

    .section-{{ section.id }} h2.title{
      {% render 'globalcolor' , color: section.settings.color_scheme_font %}
      font-size:{{ section.settings.heading_scale }}px !important; 
      }

  }


  .section-{{ section.id }} .sub-heading-two {

  
  }

</style>

{% schema %}
  {
    "name": "Testomonial one",
    "class": "section custom-testimonials-style-2",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_full_width",
        "default": false,
        "label": "t:sections.all.page_full_width.label"
      },
      {
        "type": "checkbox",
        "id": "page_full_width_spacing",
        "default": false,
        "label": "t:sections.all.page_full_width_spacing.label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Testimonial",
        "label": "t:sections.all.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },   
      {
        "type": "number",
        "id": "heading_scale",
        "label": "Heading font on Desktop",
        "default": 50
      },
      {
        "type": "number",
        "id": "heading_scale_mobile",
        "label": "Heading font on Mobile",
        "default": 30
      },  
      {
        "type": "select",
        "id": "color_scheme_font",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "primary-color01",
            "label": "primary color one"
          },
          {
            "value": "primary-color02",
            "label": "primary color two"
          },
          {
            "value": "primary-color03",
            "label": "primary color three"
          },
          {
            "value": "primary-color04",
            "label": "primary color Four"
          },
          {
            "value": "primary-color05",
            "label": "primary color Five"
          },
          {
            "value": "primary-color06",
            "label": "primary color Six"
          },
          {
            "value": "primary-color07",
            "label": "primary color Severn"
          },
          {
            "value": "primary-color08",
            "label": "primary color Eight"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "accent-1",
        "label": "t:sections.all.colors.label"
      },
 {
        "type": "image_picker",
        "id": "sub_heading",
        "label": "Section Image"
       },
        {
        "type": "text",
        "id": "description",
        "label": "t:sections.all.description.label"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.all.button_label.label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.all.button_link.label"
      }, {
        "type": "checkbox",
        "id": "button_style_secondary",
        "default": false,
        "label": "t:sections.all.button_style_secondary.label"
      }, {
        "type": "select",
        "id": "column_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.testimonials-style-2.settings.column_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.testimonials-style-2.settings.column_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.testimonials-style-2.settings.column_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "t:sections.testimonials-style-2.settings.column_alignment.label"
      },
      {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.testimonials-style-2.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials-style-2.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.testimonials-style-2.settings.content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.testimonials-style-2.settings.content_alignment.label"
    },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "primary-color01",
            "label": "primary color one"
          },
          {
            "value": "primary-color02",
            "label": "primary color two"
          },
          {
            "value": "primary-color03",
            "label": "primary color three"
          },
          {
            "value": "primary-color04",
            "label": "primary color Four"
          },
          {
            "value": "primary-color05",
            "label": "primary color Five"
          },
          {
            "value": "primary-color06",
            "label": "primary color Six"
          },
          {
            "value": "primary-color07",
            "label": "primary color Severn"
          },
          {
            "value": "primary-color08",
            "label": "primary color Eight"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }, 
      {
        "type": "image_picker",
        "id": "after_image",
        "label": "t:sections.testimonials-style-2.settings.after_image.label"
      },
      {
        "type": "image_picker",
        "id": "after_image_mobile",
        "label": "t:sections.testimonials-style-2.settings.after_image.label"
      },
  {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "image_picker",
        "id": "mask_before_image",
        "label": "t:sections.testimonials-style-2.settings.mask_before_image.label"
      },
      {
        "type": "image_picker",
        "id": "mask_after_image",
        "label": "t:sections.testimonials-style-2.settings.mask_after_image.label"
      },
      {
        "type": "header",
        "content": "t:sections.testimonials-style-2.settings.custom_class_heading.content"
      }, {
        "type": "text",
        "id": "custom_class_name",
        "label": "t:sections.testimonials-style-2.settings.custom_class_name.label"
      }, {
        "type": "header",
        "content": "t:sections.all.swiper.swiper_slider_title"
      }, {
        "type": "range",
        "id": "desktop_column",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "t:sections.all.swiper.desktop_column",
        "default": 4
      }, {
        "type": "range",
        "id": "tablet_column",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "t:sections.all.swiper.tablet_column",
        "default": 3
      }, {
        "type": "range",
        "id": "mobile_column",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "t:sections.all.swiper.mobile_column",
        "default": 1
      }, {
        "type": "checkbox",
        "id": "centered_slide",
        "default": false,
        "label": "t:sections.all.swiper.centered_slide"
      }, {
        "type": "checkbox",
        "id": "swiper_pagination",
        "default": false,
        "label": "t:sections.all.swiper.swiper_pagination"
      }, {
        "type": "checkbox",
        "id": "swiper_navigation",
        "default": false,
        "label": "t:sections.all.swiper.swiper_navigation"
      }, {
        "type": "range",
        "id": "auto_play",
        "min": 0,
        "max": 5,
        "step": 1,
        "label": "t:sections.all.swiper.auto_play",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.testimonials-style-2.blocks.text.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.image.label"
          },

          {
            "type": "text",
            "id": "content-heading",
            "default": "john",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.content-heading.label"
          },
          {
            "type": "text",
            "id": "author",
            "default": "Column",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.author.label"
          },
          {
            "type": "text",
            "id": "job_title",
            "default": "john",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.job_title.label"
          },
          {
            "type": "richtext",
            "id": "quote",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.quote.label"
          },{
"type": "select",
"id": "star",
"label": "rating",
"default": "5",
"options": [
{
"value": "0",
"label": "0"
},
{
"value": "0.5",
"label": "0.5"
},
{
"value": "1",
"label": "1"
},
{
"value": "1.5",
"label": "1.5"
},
{
"value": "2",
"label": "2"
},
{
"value": "2.5",
"label": "2.5"
},
{
"value": "3",
"label": "3"
},
{
"value": "3.5",
"label": "3.5"
},
{
"value": "4",
"label": "4"
},
{
"value": "4.5",
"label": "4.5"
},
{
"value": "5",
"label": "5"
}
]
}, {
            "type": "text",
            "id": "link_label",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.link_label.label"
          }, {
            "type": "url",
            "id": "link",
            "label": "t:sections.testimonials-style-2.blocks.text.settings.link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.testimonials-style-2.presets.name",
        "blocks": [
          {
            "type": "text"
          }, {
            "type": "text"
          }, {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}